/*
2-tone color: #63471f, #fccc4e
*/
body{
	max-width: 990px;
	margin: auto !important;
}
/* Custom Bootstrap */
.navbar{
	border-bottom: 1px solid #63471f !important;
}
#myCarousel{
	margin-top:-50px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	max-width: 600px;
	max-height: 400px;
  	width: 60%;
   	margin: auto;
}
.carousel-caption h3{
	text-shadow: 1px 2px black;
}
/* Style */
#main{
	margin-top:100px;
}
.logo-md{
	width: 300px;
	margin: auto;
}
.profile_picture{
	width: 30px;
	max-height: 30px;
}
